h1 {
  text-align: center;
  margin-top: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin-top: 50px;
}

.form-wrapper {
  width: 50%;
}
