<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='admin.css') }}"
    />
    <title>Admin</title>
  </head>
  <body>
    <div class="is-login">
      <a href="/">Retour</a>
      {% if session['firstname'] %}
      <a href="/logout">Logout</a>
      <p>Bienvenue {{session['firstname']}}</p>
      {% else %}
      <a href="/login">Login</a>
      {% endif %}
    </div>
    <div class="container">
      <!-- A table with all the users and the book they have loaned -->
      <table>
        <thead>
          <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Livre</th>
            <th>Date d'emprunt</th>
            <th>Date de retour</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <td>{{user[3]}}</td>
            <td>{{user[4]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
