<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <title>Bibilothèque</title>
  </head>
  <body>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
    <h1>Bibilothèque</h1>
    <div class="container">
      <details class="form-wrapper">
        <summary>Rechercher un livre</summary>
        <form action="/search" method="post">
          <div>
            <label for="title">Titre</label>
            <input type="text" name="title" id="title" />
          </div>
          <div>
            <label for="author">Auteur</label>
            <input type="text" name="author" id="author" />
          </div>
          <div>
            <label for="year">Année</label>
            <input type="text" name="year" id="year" />
          </div>
          <div>
            <label for="genre">Genre</label>
            <input type="text" name="genre" id="genre" />
          </div>
          <button type="submit" class="btn">Rechercher</button>
        </form>
      </details>
      <details class="form-wrapper">
        <summary>Ajouter un livre</summary>
        <form action="/add" method="post">
          <div>
            <label for="title">Titre</label>
            <input type="text" name="title" id="title" />
          </div>
          <div>
            <label for="author">Auteur</label>
            <input type="text" name="author" id="author" />
          </div>
          <div>
            <label for="year">Année</label>
            <input type="text" name="year" id="year" />
          </div>
          <div>
            <label for="genre">Genre</label>
            <input type="text" name="genre" id="genre" />
          </div>
          <button type="submit" class="btn">Ajouter</button>
        </form>
      </details>
    </div>
  </body>
</html>