<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <title>Bibilothèque</title>
  </head>
  <body>
    {% if session['name'] %}
    <div class="is-login">
      <a href="/logout">Logout</a>
      <p>Bienvenue {{session['name']}}</p>
    </div>
    {% else %}
    <div class="is-login">
      <a href="/login">Login</a>
    </div>
    {% endif %}
    <h1>Bibilothèque</h1>
    <div class="container">
      <form action="">
        <fieldset role="group">
          <input type="search" placeholder="Rechercher un livre" />
          <input type="submit" value="Rechercher" />
        </fieldset>
      </form>
      <div>
        <h2>Les livres</h2>
        <ul>
          {% for book in books %}
          <li>
            <a href="/book/{{book[0]}}">
              <img
                src="https://picsum.photos/200"
                alt="placeholder"
                width="150"
                height="150"
              />
              <p>
                <span>{{ book[1] }}</span>
                <span>Par {{book[4]}}</span>
                <small>{{book[5]}}</small>
              </p>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
