<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <title>Bibilothèque</title>
  </head>
  <body>
    <div class="is-login">
      {% if session['firstname'] %}
      <a href="/logout">Logout</a>
      <p>Bienvenue {{session['firstname']}}</p>
      {% else %}
      <a href="/login">Login</a>
      {% endif %}
      <a href="/register-book">Enregistrer un livre</a>
    </div>
    <h1>Bibilothèque</h1>
    <div class="container">
      <form action="/search" method="POST">
        <fieldset role="group">
          <input type="search" placeholder="Rechercher un livre" id="search" name="search" />
          <input type="submit" value="Rechercher" />
        </fieldset>
      </form>
      <div>
        <h2>Les livres</h2>
        {% if no_results %}
            <p>Aucun résultat trouvé.</p>
        {% endif %}
        <ul>
          {% for book in books %}
          <li>
            <a href="/book/{{ book[0] }}">
              <img
                src="https://picsum.photos/200"
                alt="placeholder"
                width="150"
                height="150"
              />
              <p>
                <span>{{ book[1] }}</span>
                <span>Par {{book[5]}}</span>
                <small>{{book[6]}}</small>
              </p>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
