<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='admin.css') }}"
    />
    <title>Admin</title>
  </head>
  <body>
    {% include 'header.html' %}
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Livre</th>
            <th>Date d'emprunt</th>
            <th>Date de retour</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td><a href="/book/{{user[3]}}">{{user[0]}}</a></td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
